/* CSS for slide-in animation */
@keyframes slide-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* CSS for slide-out animation */
  @keyframes slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /* Apply slide-in animation when the user profile is visible */
  .animate-slide-in {
    animation: slide-in 0.5s ease-in-out forwards;
  }
  
  /* Apply slide-out animation when the user profile is hidden */
  .animate-slide-out {
    animation: slide-out 0.5s ease-in-out forwards;
  }
  