/* CSS for slide-in animation */
@keyframes slide-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* CSS for slide-out animation */
  @keyframes slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /* Apply slide-in animation when the user profile is visible */
  .animate-slide-in {
    animation: slide-in 0.5s ease-in-out forwards;
  }
  
  /* Apply slide-out animation when the user profile is hidden */
  .animate-slide-out {
    animation: slide-out 0.5s ease-in-out forwards;
  }
  

/* Style for correct answer */
.correctAnswer {
  background-color: #4caf50;
  color: #fff; 
}

/* Style for wrong answer */
.wrongAnswer {
  background-color: #f44336; /* Red */
  color: #fff; /* White text */
}




/* Add a container around the answer buttons */
.answerContainer {
  display: block;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  font-size: 15px; 
  margin-bottom: 10px;
  /* Adjust the gap between answer buttons as needed */
}

/* Update the answer button styles */
.answer {
  flex: 1; /* Distribute the width equally among answer buttons */
 /* Adjust the minimum width as needed */
  text-align: center;
 /* Adjust the top margin as needed */
white-space: nowrap;
width: 570px;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .answerContainer {
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
  }
  
  .answer {
    width: 95%;
    min-width: 95%;
  }
}
