/* WaitingGame.css */

.waiting-game-container {
  background-image: url(https://wallpapers.com/images/high/game-show-background-6000-x-2857-fhwlnvf3pia5ce54.webp);
  color: #fff;
  text-align: center;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.start-button {
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.start-button:hover {
  background-color: #0056b3;
}

.countdown {
  font-size: 24px;
  margin-top: 20px;
}

.additional-content {
  margin-top: 40px;
  background-color: rgba(128, 128, 128, 0.442);
  padding: 20px;
  font-weight: normal;
  border-radius: 5px;
}


.instruction {
  font-size: 18px;
  margin-bottom: 5px;
}

.features {
  list-style-type: none;
  padding: 0;
}

.features li {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .game-title {
    font-size: 28px;
  }

  .start-button {
    font-size: 18px;
    padding: 8px 16px;
  }

  .countdown {
    font-size: 20px;
  }

  .instruction {
    font-size: 16px;
  }

  .features li {
    font-size: 14px;
  }
}
